@mixin section-header {
  display: flex;
  align-items: center;
  gap: 1rem;

  margin-bottom: 2rem;

  h5 {
    color: $green;
    font-weight: bolder;
  }

  @media only screen and (max-width: 850px) {
    justify-content: center;
  }
}
