@import "./variables";

.btn {
  outline: none;
  border: 1px solid $gray-100;

  padding: 0.8rem 2.2rem;

  text-transform: capitalize;

  cursor: pointer;

  transition: 0.3s all ease;

  &.primary-btn {
    background: $white;

    color: $black;
    font-weight: 700;

    position: relative;
    overflow: hidden;

    &::after {
      display: block;
      width: 100%;
      height: 100%;
      content: "";

      background: $black;

      position: absolute;
      top: 0;
      left: -100%;

      mix-blend-mode: multiply;

      transition: 0.3s all ease;
    }

    &:hover {
      text-decoration: underline;
      color: $white;

      &::after {
        left: 0;
      }
    }
  }
  &.secondary-btn {
    border: 1px solid $white;

    background: none;
    color: $white;

    position: relative;
    overflow: hidden;

    &::after {
      display: block;
      width: 100%;
      height: 100%;
      content: "";

      background: $white;

      position: absolute;
      top: 0;
      left: 100%;

      mix-blend-mode: overlay;

      transition: 0.3s all ease;
    }

    &:hover {
      text-decoration: underline;

      &::after {
        left: 0;
      }
    }
  }
}

span.stroke {
  height: 3px;
  width: 32px;

  background: $yellow-600;
}
