@import "./variables";
.btn {
  outline: none;

  padding: 0.8rem 2.2rem;

  text-transform: capitalize;

  // cursor: pointer;

  transition: 0.5s all ease;
  font-weight: 900;

  &.primary-btn {
    background: $theme03;
    border: 1px solid $theme03;

    color: $theme01;
    font-weight: 800;

    position: relative;
    overflow: hidden;

    box-shadow: -5px 5px 0 $theme05;
    transition: all 0.2s linear !important;

    &:hover {
      background: $theme02;
      color: $theme04;
      box-shadow: -3px 3px 0 $theme03;
    }
  }

  &.secondary-btn {
    border: 1px solid $theme01;

    background: $theme02;
    color: $theme04;

    position: relative;
    overflow: hidden;

    box-shadow: -4px 4px 0 $theme03;

    &:hover {
      color: $theme01;
      background: $theme03;
      box-shadow: -4px 4px 0 $theme01;
    }
  }

  // &:hover {
  //   cursor: pointer;
  // }
}

span.stroke {
  height: 3px;
  width: 32px;

  background: $theme05;
}
