@import "./variables";
.btn {
  outline: none;

  padding: 0.8rem 2.2rem;

  text-transform: capitalize;

  cursor: pointer;

  transition: 0.5s all ease;
  font-weight: 900;

  &.primary-btn {
    background: var(--theme-accent);
    border: 1px solid var(--theme-black);

    color: var(--theme-white);
    font-weight: 800;

    position: relative;
    overflow: hidden;

    box-shadow: -5px 5px 0 var(--theme-gray);
    transition: all 0.2s linear !important;

    &:hover {
      background: var(--theme-light);
      color: var(--theme-black);
      box-shadow: -3px 3px 0 var(--theme-dark);
    }
  }

  &.secondary-btn {
    border: 1px solid var(--theme-light);

    background: var(--theme-light);
    color: var(--theme-dark);

    position: relative;
    overflow: hidden;

    box-shadow: -4px 4px 0 var(--theme-black);

    &:hover {
      color: var(--theme-white);
      background: var(--theme-dark);
      box-shadow: -2px 2px 0 var(--theme-accent);
    }
  }
}

span.stroke {
  height: 3px;
  width: 32px;

  background: $accent;
}
