//=============================
// ## imports
//=============================
// @import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;600;700;800&family=Poppins:wght@400;600;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Urbanist:wght@300;400;500;600;700&display=swap");

@import "./scss/variables";
@import "./scss/cursor";
@import "./scss/utilities";
@import "./scss/mixins";
@import "./scss/type";

// resets
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  text-decoration: none;
  font-family: "Urbanist", sans-serif;

  scroll-behavior: smooth;
  max-width: 100%;
  // cursor: none;
}
// scroolbar
::-webkit-scrollbar {
  width: 0.3rem;
  background: #dcdcdc;
}

::-webkit-scrollbar-thumb {
  width: 0.1rem;
  border-radius: 2rem;
  background: var(--theme-dark);
}

section {
  margin-bottom: 5rem;
  margin-inline: auto;

  padding: 1rem;
}
.container {
  max-width: $container-max-widths-xxl;
  margin: auto;
}

// ! ======================================================
// ! main styles
// ! ======================================================

body {
  overflow-x: hidden;
  background: var(--theme-light);
}

.wrapper {
  width: 100%;

  // ======================================================
  //  HEADER
  // ======================================================

  header.main-header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

    background-color: var(--theme-white);

    z-index: 5;

    padding: 1rem 0;

    &.fixed {
      position: fixed;
      box-shadow: 0 4px 16px #0000005b;

      animation: fix 0.3s ease-in-out;

      @keyframes fix {
        from {
          top: -100px;
        }
        to {
          top: 0;
        }
      }
    }

    .content {
      display: flex;
      align-items: center;
      justify-content: space-between;

      width: 100%;

      margin: auto;

      overflow: hidden;

      color: var(--theme-white);

      padding: 1rem 1.5rem;

      .logo {
        flex: 2;
        display: flex;
        align-items: center;

        user-select: none;

        // z-index: 1;

        @media only screen and (max-width: 850px) {
          flex: 1;
        }

        img {
          width: 150px;
          // transform: rotate(180deg);
        }
      }
      nav {
        flex: 3;

        position: relative;

        .logo {
          display: none;

          @media only screen and (max-width: 850px) {
            display: block;
            position: absolute;
            top: 3%;
            left: 1rem;
          }
        }

        @media only screen and (max-width: 1024px) {
          flex: 5;
        }
        @media only screen and (max-width: 850px) {
          transition: right 0.3s ease-in-out;
          flex-direction: column;

          position: fixed;
          width: 85%;
          height: 100vh;
          top: 0;
          left: 0;

          transform: translateX(-100%);

          padding: 10rem 1rem 5rem;

          background: var(--theme-white);

          transition: transform 0.2s ease-in-out;

          &.open {
            transform: translateX(0);

            &::before {
              position: absolute;
              top: 0;
              right: -17%;

              content: "";
              width: 17%;
              height: 100%;
              background-color: #f9f9f970;
              @media (prefers-color-scheme: dark) {
                background-color: #0f0f0f70;
              }
              backdrop-filter: blur(5px);
              z-index: -2;

              pointer-events: none;
            }
          }

          button {
            width: 100%;
            text-transform: uppercase;
            font-weight: 900;
          }
        }

        display: flex;
        align-items: center;
        // justify-content: space-between;

        .navlinks {
          flex: 2;

          @media only screen and (max-width: 850px) {
            display: flex;
            flex-direction: column;
            // align-items: center;

            width: 100%;

            gap: 1rem;
          }

          a {
            display: inline-block;

            margin: 0 1rem;
            color: var(--theme-black);

            font-size: 1.2rem;
            text-transform: capitalize;

            @media only screen and (max-width: 850px) {
              text-transform: uppercase;
              font-size: 2rem;
              font-weight: bold;
            }

            &:hover {
              text-decoration: underline var(--theme-dark);
            }
          }
        }
      }
      button.menu {
        outline: none;
        background: none;
        border: none;

        position: absolute;
        top: 20%;
        right: 3%;

        padding: 1rem;

        transition: all 0.3s linear;

        // z-index: 5;

        .stroke {
          width: 32px;
          height: 3px;

          border-radius: 5rem;

          background: var(--theme-black);
          margin-bottom: 4px;

          transition: all 0.3s linear;
        }

        .text {
          font-size: 0.7rem;
          font-weight: 500;
          text-transform: uppercase;
          line-height: 1;

          color: var(--theme-black);
        }

        &.open {
          .stroke {
            &:first-of-type {
              background-color: var(--theme-black);
              transform: rotate(45deg) translate(0px, -1px);
            }
            &:nth-child(2) {
              background: var(--theme-black);
              transform: rotate(-45deg) translate(6px, -6px);
            }
          }
          .text {
            color: var(--theme-accent);
          }
        }

        @media only screen and (min-width: 851px) {
          display: none;
        }
      }
    }
  }

  // ======================================================
  //  INFO
  // ======================================================

  section.info {
    height: 100vh;

    // background: repeating-linear-gradient(-45deg, var(--theme-black) 10%, var(--theme-dark) 55%);
    background: var(--theme-white);

    .container {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      padding: 2rem;

      color: var(--theme-black);

      @media only screen and (max-width: 850px) {
        flex-direction: column-reverse;
        gap: 2rem;
      }

      .texts {
        flex: 0.5;
        margin: 3rem auto;

        z-index: 1;

        width: 40%;

        @media only screen and (max-width: 850px) {
          width: 100%;
          margin: 0;
        }
        h1 {
          width: max-content;
          font-size: 5rem;
          // font-weight: 600;

          span {
            color: var(--theme-accent);
          }

          @media only screen and (max-width: 850px) {
            font-size: 3.5rem;
          }
        }

        p {
          width: 100%;
          max-width: 450px;
          color: var(--theme-dark);

          margin: 2.5rem 0;

          span {
            color: var(--theme-accent);
            font-weight: 600;
          }

          @media only screen and (max-width: 850px) {
            width: 80%;
          }
          @media only screen and (max-width: 500px) {
            width: 100%;
          }
        }
      }

      .media {
        flex: 0.5;

        display: flex;
        align-items: center;

        @media only screen and (max-width: 500px) {
          flex: 0.3;
        }

        img#banner-img {
          width: 100%;
        }
      }
    }
  }

  // ======================================================
  //  SERVICES
  // ======================================================

  section.services {
    header.services-header {
      @include section-header;
    }
    .texts {
      display: flex;
      justify-content: space-between;
      align-items: center;

      margin-bottom: 3rem;

      @media only screen and (max-width: 850px) {
        flex-direction: column;

        text-align: center;
        gap: 2rem;
      }

      p {
        max-width: 300px;
        color: var(--theme-gray);
      }
    }

    .cards {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      // justify-content: space-evenly;
      justify-content: center;
      gap: 1.4rem;

      .card {
        width: 400px;

        padding: 4rem 3rem;

        background: #f9f9f91d;

        display: flex;
        flex-direction: column;
        align-items: center;

        text-align: center;

        box-shadow: -4px 4px var(--theme-black);
        border: 1px solid var(--theme-black);

        border-radius: 0.5rem;

        @media (prefers-color-scheme: dark) {
          background-color: var(--theme-black);

          box-shadow: -4px 4px var(--theme-gray);
          border: 1px solid var(--theme-white);
        }

        @media only screen and (max-width: 850px) {
          // max-width: 500px;
          width: 85%;
        }

        .img {
          border-radius: 50%;

          display: grid;
          place-content: center;

          background: var(--theme-light);

          @media (prefers-color-scheme: dark) {
            background-color: var(--theme-dark);
          }

          padding: 1rem;
          margin-bottom: 2rem;
        }

        img {
          width: 40px;
        }
        h5 {
          margin-bottom: 2rem;

          @media (prefers-color-scheme: dark) {
            color: var(--theme-white);
          }
        }
        p {
          color: var(--theme-gray);
        }
      }
    }
  }

  // ======================================================
  //  PRODUCTS
  // ======================================================

  section.products {
    .container {
      header.products-header {
        @include section-header;
        justify-content: center;
      }

      h2 {
        text-align: center;
        margin-bottom: 4rem;

        @media only screen and (max-width: 850px) {
          width: 85%;
          margin: 0 auto 4rem;
        }
      }

      .grid-container {
        display: grid;
        gap: 1.5rem;
        grid-template-columns: repeat(4, 1fr);

        @media only screen and (max-width: 850px) {
          grid-template-columns: repeat(2, 1fr);
        }

        @media only screen and (max-width: 750px) {
          display: flex;
          flex-direction: column;
        }

        .product {
          padding: 1rem 1rem 1.5rem;

          box-shadow: -4px 4px var(--theme-black);
          border: 1px solid var(--theme-black);

          background-color: var(--theme-white);

          border-radius: 1rem;

          @media (prefers-color-scheme: dark) {
            background-color: var(--theme-black);

            box-shadow: -4px 4px var(--theme-gray);
            border: 1px solid var(--theme-gray);
          }

          &:first-child {
            box-shadow: none;
            border: none;
          }

          .img {
            margin-bottom: 1rem;

            img {
              border-top-right-radius: 0.5rem;
              border-top-left-radius: 0.5rem;
            }
          }
          h4 {
            margin-bottom: 1rem;
            color: var(--theme-black);

            @media (prefers-color-scheme: dark) {
              color: var(--theme-white);
            }
          }
          p {
            b {
              color: var(--theme-black);
              @media (prefers-color-scheme: dark) {
                color: var(--theme-white);
              }
            }
          }
          a {
            font-weight: 600;
            color: var(--theme-gray);

            transition: 0.5s all ease;

            &:hover {
              text-decoration: underline;
              color: var(--theme-dark);
              font-weight: 700;
            }
          }

          &.product-one {
            grid-row: 1/3;
            grid-column: 1/3;

            img {
              margin: 0;
              height: 100%;
              object-fit: cover;

              border-radius: 0.5rem;
            }

            @media only screen and (max-width: 850px) {
              grid-column: 1/3;
              grid-row: 1/3;
            }

            @media only screen and (max-width: 500px) {
              grid-column: 1/2;
              grid-row: 1/3;
            }
          }

          &.product-two {
            grid-column: 3/4;

            @media only screen and (max-width: 850px) {
              grid-column: 1/2;
              grid-row: 3/4;
            }

            @media only screen and (max-width: 500px) {
              grid-column: 1/2;
              grid-row: 3/4;
            }
          }

          &.product-three {
            grid-column: 4/5;

            @media only screen and (max-width: 850px) {
              grid-column: 2/3;
              grid-row: 3/4;
            }

            @media only screen and (max-width: 500px) {
              grid-column: 1/2;
              grid-row: 4/5;
            }
          }

          &.product-four {
            grid-column: 3/4;

            @media only screen and (max-width: 850px) {
              grid-column: 1/2;
              grid-row: 4/5;
            }

            @media only screen and (max-width: 500px) {
              grid-column: 1/2;
              grid-row: 5/6;
            }
          }

          &.product-five {
            grid-column: 4/5;

            @media only screen and (max-width: 850px) {
              grid-column: 2/3;
              grid-row: 4/5;
            }

            @media only screen and (max-width: 500px) {
              grid-column: 1/2;
              grid-row: 6/7;
            }
          }
        }
      }
    }
  }

  // ======================================================
  //  HOW IT WORKS
  // ======================================================

  section.how-it-works {
    // background: repeating-linear-gradient(-45deg, $blue02 10%, $dark 65%);
    background-color: var(--theme-white);

    padding: 8rem 0;

    @media only screen and (max-width: 850px) {
      padding: 1rem;
    }

    .container {
      display: flex;
      gap: 3rem;
      align-items: center;

      color: var(--theme-black);

      @media only screen and (max-width: 850px) {
        flex-direction: column;
        justify-content: center;
        padding: 1rem;
      }

      .img {
        flex: 1;

        img {
          width: 100%;
          height: 750px;
          object-fit: contain;

          @media only screen and (max-width: 850px) {
            display: block;
            width: 100%;
            max-height: 450px;
            margin: auto;

            // transform: rotate(90deg);
          }
        }
      }
      .texts {
        flex: 1;

        header.how-it-works-header {
          @include section-header;
        }

        h3 {
          margin-bottom: 3rem;
          color: var(--theme-black);
        }

        .step {
          display: flex;
          margin-bottom: 0.4rem;

          gap: 1rem;

          h5 {
            margin-bottom: 0.5rem;
          }
          p {
            width: 80%;
            color: var(--theme-gray);

            @media only screen and (max-width: 850px) {
              width: 100%;
            }
          }
        }

        @media only screen and (max-width: 850px) {
          padding: 2rem;
          h3 {
            text-align: center;
          }
        }
      }
    }
  }

  // ======================================================
  //  TESTIMONIALS
  // ======================================================

  section.testimonials {
    header.testimonials-header {
      @include section-header;
    }
    h2 {
      width: 60%;
      margin-bottom: 4rem;

      @media only screen and (max-width: 850px) {
        width: 100%;
        margin: 0 auto 4rem;
        padding: 0 2rem;
        text-align: center;
      }
    }
    .testimonies {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      gap: 2rem;

      .testimony {
        max-width: 400px;

        background: var(--theme-white);

        padding: 2rem;

        box-shadow: -4px 4px var(--theme-dark);
        border: 1px solid var(--theme-dark);

        transition: 0.3s ease;

        border-radius: 0.5rem;

        &:hover {
          background-color: var(--theme-black);

          box-shadow: -4px 4px var(--theme-gray);
          box-shadow: -4px 4px var(--theme-gray);

          p.text {
            width: 90%;
            margin-inline: auto;

            color: var(--theme-white);
          }

          h4 {
            color: var(--theme-white);
          }
        }

        img {
          width: 32px;
        }
        .quote-open {
          margin-bottom: 2rem;

          position: relative;

          img {
            position: absolute;
            width: 25%;
            opacity: 0.3;
            pointer-events: none;
          }
        }
        .quote-close {
          display: flex;
          align-items: center;
          justify-content: end;
          margin-bottom: 1rem;
          img {
            transform: scale(1.5);
            pointer-events: none;
          }
        }

        p.text {
          width: 90%;
          margin-inline: auto;

          color: var(--theme-black);
        }

        .clients-details {
          display: flex;
          justify-content: space-between;

          h4 {
            font-size: 1.4rem;
            font-weight: 800;

            margin-bottom: 0.5rem;
          }

          p {
            color: var(--theme-gray);
          }

          .ratings {
            display: flex;
            align-items: center;
            gap: 0.5rem;

            img {
              width: 24px;
              object-fit: contain;
            }
            p {
              font-weight: 800;
              color: var(--theme-gray);
              margin: 0;
            }
          }
        }
      }
    }

    .cta-banner {
      background-color: var(--theme-black);
      color: var(--theme-white);

      padding: 2rem 4rem;
      margin-top: 4rem;

      border: 1px solid var(--theme-light);
      box-shadow: -6px 6px 0 var(--theme-gray);

      border-radius: 0.5rem;

      h3 {
        color: var(--theme-white);
      }

      @media only screen and (max-width: 850px) {
        padding: 2rem;

        text-align: center;
      }

      .content {
        display: flex;
        align-items: center;
        justify-content: space-between;

        @media only screen and (max-width: 850px) {
          flex-direction: column;
        }

        h3 {
          margin-bottom: 1.5rem;
        }

        .primary-btn {
          box-shadow: -3px 3px 0 var(--theme-light);
          &:hover {
            box-shadow: -3px 3px 0 var(--theme-accent);
          }
        }
      }
    }
  }

  // ======================================================
  //  CONTACT SECTION
  // ======================================================

  section.contact-us {
    .container {
      header.contact-header {
        @include section-header;
      }

      h2 {
        width: 40%;

        @media only screen and (max-width: 850px) {
          width: 100%;
          text-align: center;
        }
      }

      .texts {
        display: flex;
        align-items: center;
        justify-content: space-between;

        @media only screen and (max-width: 850px) {
          flex-direction: column;

          text-align: center;
          gap: 2rem;
        }

        h2 {
          flex: 0.5;
        }

        p {
          flex: 0.3;
          color: var(--theme-gray);
        }
      }

      .content {
        margin-top: 4rem;

        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2rem;

        @media only screen and (max-width: 850px) {
          flex-direction: column;
        }

        .illustration {
          flex: 0.5;
        }

        .form {
          flex: 0.5;

          @media only screen and (max-width: 850px) {
            width: 100%;
          }

          .input-wrapper {
            width: 80%;
            margin-inline: auto;

            position: relative;
            margin-bottom: 1rem;

            @media only screen and (max-width: 850px) {
              width: 100%;
            }

            label {
              position: absolute;
              top: 50%;
              left: 1rem;
              transform: translate(0, -50%);
              transition: top 0.2s ease, font-size 0.2s ease;

              line-height: 1;
              color: var(--theme-gray);
            }

            input::not(:placeholder-shown):not(:focus) + label {
              top: 20px;
              font-size: 0.8em;
              pointer-events: none;
            }

            textarea + label {
              top: 20%;
            }

            input,
            textarea {
              outline: none;

              font-size: 1rem;
              padding: 1.5rem 1rem 1rem;

              display: block;
              width: 100%;
              margin-inline: auto;

              color: var(--theme-black);

              border: 1px solid var(--theme-gray);
              background: var(--theme-white);

              font-weight: 500;

              border-radius: 0.5rem;

              transition: 0.2s all;

              @media only screen and (max-width: 850px) {
                width: 100%;
              }

              &::not(:empty) + label {
                top: 20px;
                font-size: 0.8em;
                pointer-events: none;
              }

              &:focus {
                border-color: var(--theme-accent);
              }

              &:focus + label,
              &:not(:placeholder-shown) + label {
                top: 1rem;
                font-weight: 500;
                font-size: 0.8rem;
              }
            }

            textarea {
              height: 150px;
              resize: none;
            }
          }

          button {
            display: block;
            width: 80%;
            margin-inline: auto;
            margin-top: 2.5rem;

            padding: 1.2rem;
            font-size: 1rem;

            box-shadow: -4px 4px 0 var(--theme-gray);

            @media only screen and (max-width: 850px) {
              width: 100%;
            }
          }
        }
      }
    }
  }

  // ======================================================
  //  FOOTER
  // ======================================================

  footer {
    padding: 5rem 2rem;
    background: var(--theme-dark);

    @media (prefers-color-scheme: dark) {
      background-color: var(--theme-white);
      color: var(--theme-black);
    }

    .container {
      .top-content {
        display: flex;
        justify-content: space-between;

        padding-bottom: 3rem;
        border-bottom: 1px solid $gray-500;

        .primary-btn {
          box-shadow: -3px 3px 0 var(--theme-light);
          color: var(--theme-black);
          font-weight: bold;

          &:hover {
            box-shadow: -3px 3px 0 var(--theme-accent);
          }
        }

        .secondary-btn {
          box-shadow: -3px 3px 0 var(--theme-gray);

          font-weight: bold;

          &:hover {
            box-shadow: -3px 3px 0 var(--theme-accent);
          }
        }

        @media only screen and (max-width: 850px) {
          flex-direction: column;
          gap: 5rem;
          align-items: center;
        }

        h2 {
          color: var(--theme-white);

          @media (prefers-color-scheme: dark) {
            color: var(--theme-black);
          }

          width: 50%;
          @media only screen and (max-width: 850px) {
            text-align: center;
            width: 100%;
          }
        }

        .call-to-action {
          .primary-btn {
            margin-right: 1.5rem;

            box-shadow: -5px 5px 0 var(--theme-white);

            @media (prefers-color-scheme: dark) {
              box-shadow: -5px 5px 0 var(--theme-dark);
            }
          }

          @media only screen and (max-width: 650px) {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 1rem;

            .primary-btn {
              margin: 0;
            }
          }
        }
      }
      .bottom-content {
        padding-top: 3rem;
        display: flex;
        gap: 5rem;
        justify-content: space-between;

        @media only screen and (max-width: 850px) {
          flex-direction: column;
        }

        .logo {
          flex: 2;
          display: flex;
          align-items: center;

          user-select: none;

          z-index: 1;

          margin-bottom: 1rem;

          @media only screen and (max-width: 850px) {
            flex: 1;
          }

          img {
            width: 150px;
            // transform: rotate(180deg);
          }
        }
        p {
          width: 400px;
          color: $gray-500;

          @media only screen and (max-width: 850px) {
            width: 100%;
          }
        }

        .useful-links {
          display: flex;
          gap: 2.5rem;
          flex: 1;

          @media only screen and (max-width: 850px) {
            gap: 5%;
            flex-wrap: wrap;
            justify-content: space-between;
          }

          .links-container {
            display: flex;
            flex-direction: column;
            align-items: start;
            margin-bottom: 5rem;
            width: 44.5%;

            @media only screen and (max-width: 850px) {
              width: 100%;

              &:last-of-type {
                margin-bottom: 0;
              }
            }

            h4 {
              color: var(--theme-white);
              text-transform: capitalize;
              font-size: 1.1rem;

              padding: 1rem;

              margin-bottom: 1.5rem;

              @media (prefers-color-scheme: dark) {
                color: var(--theme-black);
              }
            }

            .links {
              a {
                display: block;
                color: $gray-500;
                padding: 0.2rem 0;

                padding: 0.5rem 1rem;
                margin: 0.5rem 0;

                text-transform: capitalize;

                &:hover {
                  text-decoration: underline var(--theme-white);
                }
              }
            }
          }
        }
      }

      .copyright-section {
        border-top: 1px solid var(--theme-gray);
      }
    }
  }
}
